DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
GUEST_LIST_SESSION_SECRET="replace-with-a-random-string-at-least-32-characters-long"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
